@font-face {
    font-family: "Vazir";
    src: url("Vazirmatn-Regular.ttf");
}

@font-face {
    font-family: "Vazir-medium";
    src: url("Vazirmatn-Medium.ttf");
}

@font-face {
    font-family: "Aria";
    src: url("Aria-Bold.ttf");
}

@font-face {
    font-family: "Aria-bold";
    src: url("Aria-UltraBold.ttf");
}

.center {
    display: flex;
    justify-content: center;
    margin: auto;
}

.site-header-titles {
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    background-color: rgba(47, 47, 105, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.site-header-image {
    width: 150px;
}

@media only screen and (max-width: 720px) {
    .site-header {
        width: 80%;
        justify-content: center;
        text-align: center;
        padding-top: 8px;
        border-radius: 20px;
    }
    .site-title {
        font-size: 1.8rem;
        font-weight: bold;
        font-family: "Aria-bold";
    }
    .site-title-year {
        margin-top: 0;
    }
    .site-header-image {
        width: 120px;
    }
}

body {
    background-color: #2f2f69;
    background-image: url(./Background.png);
    background-position: center;
    font-family: "Aria";
}

.cards-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: stretch;
    direction: rtl;
}

@media only screen and (max-width: 720px) {
    .cards-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle at bottom, rgba(15, 115, 96, 0.9), rgba(214, 40, 43, 0.9));
    border-radius: 7px;
    border: none;
    transition: .5s;
}

.card:hover {
    transform: scale(1.08);
}

.card-title {
    color: #fbfbfb;
    margin: auto;
}

.card-img {
    width: 300px;
}

.shahid-general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(47, 47, 105, 0.7);
    backdrop-filter: blur(8px);
    width: 60%;
    border-radius: 10px;
    direction: rtl;
    padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 720px) {
    .shahid-general {
        width: 70%;
        flex-direction: column-reverse;
    }
    .shahid-general-text {
        margin-top: 15px;
    }
}

.shahid {
    color:#D10202;
}

.shahid-general-text {
    color: #fbfbfb;
}

.shahid-general-text > h1 {
    display: inline;
}

.shahid-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at bottom, rgba(15, 115, 96, 0.9), rgba(214, 40, 43, 0.9));
    border-radius: 10px;
}

.shahid-image {
    width: 200px;
    border-radius: 10px;
}

.shahid-text {
    background: linear-gradient(135deg,rgba(15, 115, 96, 0.9), rgba(214, 40, 43, 0.9));
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin-top: 10px;
    width: 70%;
    direction: rtl;
    padding-right: 10px;
    padding-left: 10px;
    color: #fbfbfb;
    font-weight: 600;
    font-size: 1.4rem;
}
@media only screen and (max-width: 720px) {
    .shahid-text {
        width: 90%;
    }
} 

.footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-line {
    width: 85%;
    margin-bottom: 20px;
}

.footer-images {
    display: flex;
    flex-direction: row;
}

.footer-img {
    width: 150px;
}

@media only screen and (max-width: 720px) {
    .footer-img {
        width: 100px;
    }
}

.logo-box {
    background-color: rgba(47, 47, 105, 0.7);
    backdrop-filter: blur(4px);
}

.logo {
    width: 200px;
}